main{
    
    padding: 55px 0 0 0;

    h1{
        font-weight: 500;
        letter-spacing: -3.5px;
        font-size: 72px;
        font-family: Oswald-Medium;

        margin-left: 100px;
    }

    div{
        display: flex;
        justify-content: center;
        gap: 10vw;

        margin-bottom: 100px;
        .vid{
            position: relative;
            width: 560px;
            height: 440px;
            overflow: hidden;

            video{
                position: absolute;
                height: 404px;
                left: -100px;
            }
            img{
                position: absolute;
                top: -1px;
                position: absolute;
                z-index: 100;
                left: 0;
                width: calc(100% + 1px);
                height: 406px;

            }
        }

        .text{
            flex-direction: column;
            justify-content: flex-start;
            gap: 0;
            p{
                padding-top: 70px;
                font-size: 18px;
                width: 366px;
            }

            a{
                width: 154px;
                height: 45px;
            }
        }


    }
}

@media (max-width: 767px) {
    main{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            margin: 12vw 0;
            font-size: 15vw;
            letter-spacing: -0.5vw; 

        }

        div{
            flex-direction: column;
            gap: 0;
            margin-bottom: 10vw;

            .vid{
                width: 88vw;
                height: 70vw;
            
                video{
                    height: 70vw;
                    left: -12vw;
                    top: 0;
                }

                img{
                    top: 0;
                    height: 70vw;
                }
            }
            
            .text{
                display: flex;
                flex-direction: column;
                align-items: center;
                p{
                    padding: 0;
                    font-size: 5.5vw;
                    width: 87.46vw;
                    text-align: center;
                }

                a{
                    width: 56.5vw;
                    height: 12.5vw;
                    font-size: 6vw;
                }
            }
        }
    }


}

@media (min-width: 768px) and (max-width: 1023px) {
        main{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            margin: 0;
        }

        div{
            flex-direction: column;
            gap: 0;
            margin-bottom: 10vw;
            align-items: center;

            .vid{
                width: 44vw;
                height: 35vw;
            
                video{
                    height: 35vw;
                    left: -12vw;
                    top: 0;
                }

                img{
                    top: 0;
                    height: 35vw;
                }
            }
            
            .text{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0;
                p{
                    padding: 0;
                    font-size: 3vw;
                    width: 87.46vw;
                    text-align: center;
                }

                a{
                    width: 25vw;
                    height: 6vw;
                    font-size: 3vw;

                    
                }
            }
        }
    }

}