main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;

    h1{
        font-family: Oswald-Medium;
        font-size: 72px;
        margin-bottom: 25px;
        font-weight: 500;
        letter-spacing: -3px;
    }

    h2{
        font-family: Oswald-Medium;
        font-size: 20px;
        margin: 20px 0;
        font-weight: 500;
    }

    p{
        font-family: Maitree;
        width: 620px;
        margin: 15px 0;
        line-height: 22px;
    }
}

@media (max-width: 767px) {
    main{
        padding: 20vw 6vw;

        h1{
            font-size: 15vw;
            margin-bottom: 6.6vw;
            letter-spacing: -0.7vw;
        }

        h2{
            font-size: 7.5vw;
            margin: 7vw 0;
        }

        p{
            font-size: 5vw;
            width: 87.5vw;
            margin: 0;
            line-height: 7vw;
        }






    }




}