main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0 300px 0;
    
    h1{
        font-family: Oswald-Medium;
        letter-spacing: -3.5px;
        font-weight: 500;
        font-size: 72px;
        margin-bottom: 50px;
    }

    div{
        display: flex;
        gap: 80px;
        p{
            font-family: Maitree;
            width: 425px;
            line-height: 24px;
            font-size: 20px;
        }
    }

}

@media (max-width: 767px) {

    main{
        padding: 0;
    
        h1{
            letter-spacing: -0.5vw;
            font-size: 14vw;
            margin-bottom: 0;
        }

        div{
            flex-direction: column;
            gap: 0;

            p{
                font-size: 4.5vw;
                padding: 0;
                width: 85vw;
                text-align: center;
                margin: 5vw 0;
                line-height: 7vw;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    main{
        padding: 4.5vw 0 22.5vw 0;
        h1{
            letter-spacing: -0.25px;
            font-weight: 500;
            font-size: 4.2vw;
            margin-bottom: 3.75vw;
        }

        div{
            display: flex;
            gap: 6vw;
        p{
            font-family: Maitree;
            width: 31.875vw;
            line-height: 1.8vw;
            font-size: 1.5vw;
        }
    }
    }
}