@font-face {
    font-family: Oswald-Medium;
    src: url(./fonts/Oswald-Medium.ttf);
}

@font-face {
    font-family: Oswald-ExtraLight;
    src: url(./fonts/Oswald-ExtraLight.ttf);
}

@font-face {
    font-family: Maitree;
    src: url(./fonts/Maitree-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffecce;
}

html{
    width: 100%;
    scroll-behavior: smooth;
    background-color: #984029;
}

body{
    width: 100%;
}

a{
    text-decoration: none;
}

.a-global{
    height: 64px;
    margin-top: 40px;
    background-color: #ffecce;
    font-family: Oswald-ExtraLight;
    font-size: 24px;
    color: #5e2c1d;
    border: none;
    transition: 0.3s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-global:hover{
    background-color: #5e2c1d;
    color: #ffecce;
}

// ----------------------------------------------------------------------------------------------------------------

nav{
    font-family: Oswald-Medium;
    display: flex;
    height: 81px;
    justify-content: space-between;
    align-items: center;
    background-color: #984029;
    position: fixed;
    width: 100%;
    z-index: 1000;

    .for-mob, .burger-container{
        display: none;
    }

    .nav-logo-1{
        font-size: 28px;
        padding-left: 95px;
        width: calc(95px + 84.2px);
    }

    ul{
        display: flex;
        font-size: 20px;
        list-style: none;
        gap: 35px;
        a{
            transition: 0.3s;
        }
        a:hover{
        color: #d7bca2;
        }
    }

    .nav-logo-2{
        padding-right: 95px;
        width: calc(95px + 84.2px);
        text-align: right;

        .nav-logo-2-svg{
            height: 35px;
            width: 31px;
            fill: #ffecce;
        }
    }
}


// ----------------------------------------------------------------------------------------------------------------

.NO{
    height: 81px;
}

footer{
    height: 399.88px;
    background-color: #5e2c1d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;

    .f-m-1{
        padding-left: 75px;
        display: flex;
        flex-direction: column;
        height: calc(177px + 24px);
        
        .M-Ortiz{
            padding-bottom: 25px;
            padding-top: 40px;
            font-size: 54px;
            font-family: Oswald-Medium;
        }
        .f-info{
            font-family: Maitree;
            display: flex;
            gap: 70px;
            .f-span-1{
                width: 127px;
            }
            .f-span-2{
                width: 191px;
            }
        }
        .f-a-a{
            padding-top: 15px;
            a{
               i{
                font-size: 20px;
               } 
            }
        }
    }
    .f-m-2{
        padding-right: 140px;
        font-family: Maitree;
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 399.88px;
        ul{
            list-style: none;
            li{
                padding: 3px 0;
            }
            .f-li-last{
                padding: 26px 0 47.5px;
                a{
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (max-width: 767px){
    .NO{display: none;}
    main{
        z-index: 1;
    }
    nav{
        position: static;
        height: 21.627vw;
        .nav-logo-1, .main, .nav-logo-2{
            display: none;
        }

        .for-mob{
            display: flex;
            align-items: center;

            a{
                display: flex;
                justify-content: center;
                flex-direction: column;
                svg{
                    margin: 0 3vw 0 7vw;
                    height: 9.4vw;
                    width: 8vw;
                    fill: #ffecce;
                }
            }

            .M{
                font-size: 8.91vw;
            }
        }

        .burger-container{
            display: flex;
            .burger-menu{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 7vw;
                height: 6.5vw;
                margin: 6.4vw;
                .burger-ine{
                    width: 100%;
                    height: 0.6vw;
                    background-color: #ffecce;
                }
            }

            .burger-nav{
                display: flex;


                position: fixed;
                top: 0;
                right: 0;
                width: 100%;
                height: 0;
                background-color: #984029;
                
                flex-direction: column;
                align-items: center;
                gap: 10px;
                font-size: 0;

                z-index: 1000 !important;
                .X{
                    width: 100%;
                    text-align: end;
                    i{
                        margin: 20px;
                        font-size: 0;
                        transform: 0.2s;
                    }
                }
            }
        }
    }

    footer{
        padding: 12vw 7.2vw;
        height: 202.2vw;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;

        .f-m-1{
            padding-left: 0;
            padding-bottom: 35vw;
            height: auto;
            width: 100%;

            .M-Ortiz{
                font-size: 9.9vw;
                padding-bottom: 0;
                padding-top: 0;
            }

            .f-info{
                flex-direction: column;
                justify-content: center;
                gap: 0;
                font-size: 4.5vw;
                

                .f-span-1{
                    display: block;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 2vw;
                    width: 38.1vw;
                }

                .f-span-2{
                    width: 49.5vw;
                }
            }

            .f-a-a{
                display: flex;
                justify-content: center;
                gap: 3vw;

                padding-top: 0px;
                a{
                   i{
                    font-size: 6.6vw;
                   } 
                }
            }
        }
        .f-m-2{
            padding-right: 0;
            height: auto;

            ul{
                li{
                    font-size: 4.5vw;  
                }
                .f-li-last{
                    padding: 5vw 0;
                    width: 63vw;
                    a{
                        text-decoration: underline;
                    } 
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    nav{
        .nav-logo-1{
            padding-left: 5vw;
            width: calc(5vw + 84.2px);
        }
        .nav-logo-2{
            padding-left: 5vw;
            width: calc(5vw + 84.2px);
        }
    }

    footer{
        .f-m-1{
            height: auto;
            .f-info{
                flex-direction: column;
            }
        }
        .f-m-2{
            padding: 0 20px 0 0;
        }
    }
}